header {
    background-color: darkorchid;
    color: lightpink;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}

.title {
    border: 4px dotted yellow;
}

.info {
    text-align: right;
    text-decoration: underline;
}